/* Reset margin and padding for all elements to remove browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the body to be a flex container that centers its children */
body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

/* Ensure the #gallery container takes up the full viewport height */
#gallery {
  width: 100%;
  height: 100vh; /* Use viewport height to ensure full height coverage */
}

#main-title {
  font-size: 10em; /* Adjust this value based on your preference */
  font-weight: normal; /* Assuming standard font weight is desired */
  line-height: 0.8; /* Adjust the line height to control spacing between "SOPHIYA" and "DANCE" */
}

/* You can remove .image-container styles if it's not being used */
.image-container {
  display: none; /* Hide other images if necessary */
}
