body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#gallery {
  position: relative;
  width: 100%;
}

#main-title {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10em; /* Adjust this value to match the desired scale */
  text-align: right;
  white-space: nowrap; /* Ensures text does not wrap */
}

.image-container {
  position: absolute;
  transition: transform 1s;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

/* Additional styling and responsive design can be added here */
